@import './variables.scss';
@import './fonts.scss';
@import './reset.scss';
@import './spacings.scss';
@import './antd-override.scss';

#root {
  font-family: $f1;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1472px;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 100vh;
}

.full-height {
  min-height: 100vh;
}

.w-100 {
  width: 100%;
}
